@{
    ViewBag.Title = "Edit";
}

<div class="column16">
    <table>
        <tr>
            <td>Name</td>
            <td>Advancement</td>
            <td>Current Adventure</td>
            <td>Current Session</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
    </table>
    <h2>Characters</h2>
    <table>
        <tr>
            <td>Name</td>
            <td>Player</td>
            <td>Race</td>
            <td>Class</td>
            <td>Experience</td>
            <td>Starting Session</td>
            <td>Ending Session</td>
        </tr>
    </table>
    <input type="button" name="Add Character" value="Add Character"/>
    <h2>Adventures</h2>
    <table>
        <tr>
            <td>Name</td>
        </tr>
    </table>
    <input type="button" name="Add Adventure" value="Add Adventure"/>
    <h2>Sessions</h2>
    <table>
        <tr>
            <td>Number</td>
            <td>Name</td>
            <td>Date</td>
        </tr>
    </table>
    <input type="button" name="Add Session" value="Add Session"/>
</div>