@{
    ViewBag.Title = "Index";
}

<div class="column16">
    <h2>Campaign Manager</h2>
    <table>
        <tr>
            <td>Name</td>
            <td>Advancement</td>
            <td>Current Adventure</td>
            <td>Current Session</td>
            <td>Start Date</td>
            <td>End Date</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
    </table>
    <input type="button" name="New" value="New"/>
</div>
