@{
    ViewBag.Title = "Index";
}

<div class="column16">
    <h2>Adventures</h2>
    <table>
        <tr>
            <td>Name</td>
        </tr>
    </table>
    <input type="button" name="Add Adventure" value="Add Adventure"/>
</div>
