html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    margin: 0 auto;
    padding: 0;
}

body {
    background: #333333;
    margin: 0; 
}

h2 {
    background: #333333;
    color: #FFFFFF;
    font-size: 1em;
    margin: 0;
    padding: 6px 12px;
    text-transform: uppercase;
}

input {
    border: solid 1px #333333;
}

select {
    border: solid 1px #333333;
}

.container16 {
    background: #FFFFFF;
    margin: 0 auto;
    width: 960px; 
}

.column16 {
    width: 940px;
}

.column16 {
    margin: 0 10px;
}

.container11 {
    margin: 0 auto;
    width: 660px;
}

.column12 {
    background: #999999;
    width: 700px;
}

.column4 {
    background: #999999;
    width: 220px;
}

.column3 {
    width: 160px;
}

.column3, .column4, .column12 {
    display: inline;
    float: left;
    margin: 0 10px;
}

.clear {
    clear: both;
}

#nav {
    background: #333333;
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 940px;
}

#nav li {
    display: block;
    float: left;
    width: 150px;
    background: #333333;
    position: relative;
    z-index: 500;
}

#nav li a {
    border-right: solid 1px #FFFFFF;
    display: block;
    color: #CCCCCC;
    font-weight: 700;
    height: 20px;
    padding: 5px 5px 0 5px;
    text-decoration: none;
    text-align: center;
}

#nav li a:hover {
    background: #CCCCCC;
    color: #333333;
    display: block;
}

#nav a.selected {
    color: #333333;
}

#nav ul {
    display: none;
    list-style: none;
    padding: 0;
    position: absolute;
}

#nav ul li {
    border-top: 1px solid #CCCCCC;
    float: left;
    width: 151px;
}

#nav ul ul{
    top:-1px;
}

#nav li ul ul {
    left: 150px;
    margin: 0;
}

#nav li ul ul li {
    left: 1px;
}

#tabMenu {
    list-style: none;
    margin: 0;
    padding: 0;
}

#tabMenu li {
    display: inline;
    margin: 0;
    padding: 0;
}

#tabMenu li a {
    background: #333333;
    color: #FFFFFF;
    font-size: 14px;
    padding: 3px 6px;
    text-decoration: none;
}

.dynamicDiv {
    background: #FFFFFF;
}

.box {
    padding: 10px;
}

.boxBorder {
    border: #333333 solid 1px;
    margin: 0 0 10px;
}

.boxBorder ul {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 159px;
}

.boxBorder ul li {
    display: inline;
    float: left;
    font-weight: bold;
    padding: 0 0 10px;
}

.box table {
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.width220{
    display: inline;
    float: left;
    margin-right: 10px;
    width: 220px;
}

.width420 {
    display: inline;
    float: left;
    margin-left: 10px;
    width: 420px;
}

ul.charactermanager {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 940px;
}

ul.charactermanager li {
    display: block;
    float: left;
}