@{
    ViewBag.Title = "Edit";
}

<div class="column16">
    Name: <input type="text"/><br/>
    Number: <br/>
    Date: <br/>
    <table>
        <tr>
            <td>Character</td>
            <td>Level</td>
            <td>XP Award</td>
        </tr>
    </table>
    <h2>Combat Encounters</h2>
    <table>
        <tr>
            <td>#</td>
            <td>Creature</td>
            <td>CR</td>
            <td>NPCs</td>
        </tr>
    </table>
    <h2>Non-combat Encounters</h2>
    <table>
        <tr>
            <td>#</td>
            <td>Encounter</td>
            <td>CR</td>
            <td>NPCs</td>
        </tr>
    </table>
    <h2>Story Objectives</h2>
    <table>
        <tr>
            <td>Goal</td>
            <td>XP</td>
            <td>NPCs</td>
        </tr>
    </table>
    <h2>Miscellaneous Awards</h2>
    <table>
        <tr>
            <td>Reason</td>
            <td>XP</td>
        </tr>
    </table>
    <input type="button" name="End Session" value="End Session"/>
</div>
